name: Production Deploy

on:
  push:
    tags:
      - 'v*.*.*'

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to ${{ vars.IMAGE_REGISTRY }}
        uses: docker/login-action@v3
        with:
          registry: '${{ vars.IMAGE_REGISTRY }}'
          username: '${{ secrets.IMAGE_REGISTRY_USER }}'
          password: '${{ secrets.IMAGE_REGISTRY_TOKEN }}'

      - name: Get tag
        id: tag
        run: echo "version=${GITHUB_REF_NAME}" >> $GITHUB_OUTPUT

      - name: Build and push image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ vars.IMAGE_REGISTRY }}/${{ vars.IMAGE_REGISTRY_NAMESPACE }}/${{ github.event.repository.name }}:${{ steps.tag.outputs.version }}
            ${{ vars.IMAGE_REGISTRY }}/${{ vars.IMAGE_REGISTRY_NAMESPACE }}/${{ github.event.repository.name }}:production
